---
import About from "../components/About.astro";
import Events from "../components/Events.astro";
import Gallery from "../components/Gallery.astro";
import Hero from "../components/Hero.astro";
import Videos from "../components/Videos.astro";
import Main from "../layout/Main.astro";
import Zebatucaction from "../components/Zebatucaction.astro";
---

<Main>
  <Hero />
  <About />
  <div class="bg-motif w-screen bg-gray-800 h-20 lg:h-44"></div>
  <Events />
  <Gallery />
  <div class="bg-motif-1 w-screen h-20 lg:h-44 bg-gray-800"></div>
  <Videos />
  <Zebatucaction />
</Main>
