---
import * as Politique from "../assets/politique-de-confidentialite.md";
import Main from "../layout/Main.astro";
---

<Main>
    <article class="markdown max-w-[64ch] w-full mx-auto">
        <Politique.Content />
    </article>
</Main>
