---
import * as Rgpd from "../assets/rgpd.md";
import Main from "../layout/Main.astro";
---

<Main>
    <article class="markdown max-w-[64ch] w-full mx-auto">
        <Rgpd.Content />
    </article>
</Main>
