---
import Main from "../layout/Main.astro";
---

<Main meta={{ title: "ZeBatuc'Action" }}>
  <div
    class="flex mt-14 mb-14 md:mb-28 md:flex-row flex-col justify-center items-center max-w-6xl w-full mx-auto relative"
  >
    <figure class="max-w-[375px] w-full">
      <img src="/assets/logo_zebatucaction.png" alt="" />
    </figure>
    <div class="md:absolute mt-14 md:mt-0 right-0">
      <a
        class="bg-gray-100 block text-center text-orange-600 hover:text-gray-500 rounded-md hover:bg-orange-200 transition px-7 py-4"
        href="#a-propos"
      >
        Nous soutenir
      </a>
    </div>
  </div>
  <article
    class="max-w-6xl flex flex-col gap-6 lg:gap-32 w-full mx-auto markdown"
  >
    <div class="flex flex-col lg:flex-row gap-6 lg:gap-14">
      <div class="space-y-5">
        <h2>Qui sommes nous ?</h2>
        <p>
          Notre ASBL est composée de bénévoles belges, français et togolais.
          Elle a été créée fin 2019 à partir d’une initiative d’Elliot Amah,
          chef du groupe de percussions afro-brésiliennes « Zebatuca ». Elliot
          est né et a passé une partie de son enfance au Togo. Sa famille y vit
          encore aujourd’hui. Soucieux de venir en aide aux jeunes togolais et
          de soutenir le droit à l’éducation pour tous, Elliot et ses proches
          ont créé une ONG à Lomé, au Togo.
        </p>
        <p>
          Au sein de notre ASBL, nous sommes tous convaincus que
          l’épanouissement de l’être humain et, par ricochet, la construction
          d’une société épanouie passe par l’éducation.
        </p>
        <p>
          Nos devises fondatrices sont la FRATERNITE, le TRAVAIL, l’AMOUR
          INCONDITIONNEL et la RESPONSABILITE.
        </p>
      </div>
      <figure class="max-w-[600px] shrink-0">
        <img
          class="w-full h-full object-cover"
          src="/assets/presentation_zebatucaction.jpeg"
          alt=""
        />
      </figure>
    </div>
    <div class="flex flex-col lg:flex-row-reverse gap-6 lg:gap-14">
      <div class="space-y-5">
        <h2>Notre but</h2>
        <p>
          Notre association a pour but d’intervenir dans le domaine de la
          pauvreté, la santé, le social en apportant des aides aux personnes qui
          le nécessitent (aux orphelins, aux démunis, etc.). Concrètement, nous
          intervenons chaque année dans des aides scolaires et la
          sensibilisation des parents sur l’importance de l’éducation scolaire.
          De plus, nous veillons à resserrer les liens de solidarité et de
          fraternité entre les membres des familles pour que le bien-être de
          tous soit rencontré.
        </p>
        <p>
          Pour y parvenir, les bénévoles présents à Lomé œuvrent pour repérer
          les enfants issus de familles vulnérables afin de leur proposer de
          l’aide, collaborent avec les responsables d’écoles pour apporter un
          soutien aux enfants nécessiteux, identifient les besoins pour mettre
          en place des projets afin d’y répondre, organisent des activités
          socioculturelles, collaborent avec d’autres ONG tant nationales
          qu’internationales visant les mêmes objectifs, tentent de créer un
          centre d’apprentissage professionnel, etc.
        </p>
        <p>
          Les bénévoles basés en Belgique et en France développent des actions
          pour soutenir ces initiatives mais seuls, nous n’y arriveront pas !
          Zebatuc’ACTION a besoin de VOUS !
        </p>
      </div>
      <figure class="max-w-[400px] shrink-0">
        <img
          class="w-full h-full object-cover"
          src="/assets/notre-but.png"
          alt=""
        />
      </figure>
    </div>
    <div class="flex flex-col lg:flex-row justify-between gap-6 lg:gap-14">
      <div class="space-y-5">
        <h2>Quelles sont nos actions</h2>
        <p>
          Diverses actions ponctuelles sont proposées pour soutenir ce projet :
        </p>
        <ul>
          <li>Festival « Zémétisse »,</li>
          <li>Marchés de produits africains,</li>
          <li>Repas à thèmes,</li>
          <li>CD créés par le groupe « Zebatuca »,</li>
          <li>vente de badges « Zebatuca »,</li>
          <li>etc.</li>
        </ul>
      </div>
      <figure class="max-w-[600px] shrink-0">
        <img
          class="w-full h-full object-cover"
          src="/assets/quelles_sont_nos_action.png"
          alt=""
        />
      </figure>
    </div>
    <div class="flex flex-col lg:flex-row-reverse gap-6 lg:gap-14">
      <div class="space-y-5">
        <h2>Comment nous soutenir ?</h2>
        <p>
          En participant à ces actions ou en achetant des produits vendus lors
          de ces manifestations, vous soutenez cette initiative d’entraide
          internationale.
        </p>
        <p>
          De plus, il vous est possible de venir en aide à un enfant togolais en
          le parrainant durant son année scolaire. Pour information, les frais
          scolaires annuels d’un enfant togolais en primaires s’élèvent à ….€,
          et les frais d’un enfant en secondaires s’élèvent à …€. Ces frais
          couvrent l’octroi d’un repas chaud par jour et la fourniture de
          matériels pour suivre les cours.
        </p>
        <p>
          Grâce à vos dons, des enfants pourront rejoindre les bancs de l’école
          et s’ouvrir à la culture. Ce sont des familles entières qui vont
          pouvoir s’émanciper et sortir de la pauvreté !
        </p>
        <p>
          Si vous êtes intéressés, n’hésitez pas à prendre contact avec … ou à
          suivre les évènements proposés par notre ASBL via la page Facebook
          Zebatuca.
        </p>
      </div>
      <figure class="aspect-square w-[400px] shrink-0">
        <img
          class="w-full h-full object-cover"
          src="/assets/comment_nous_soutenir.png"
          alt=""
        />
      </figure>
    </div>
    <div
      class="bg-orange-600 max-w-xl w-full mx-auto p-14 rounded-md text-white"
    >
      <p>
        Numéro de compte :<br /> IBAN BE920688 9674 5223 <br />BIC : GKCCBEBB <br
        />En communication : Dons ou Parrainage Zebatuc’Action
      </p>
    </div>
  </article>
</Main>
