<div class="p-4 w-screen">
    <div class="bg-afro w-full pt-16 md:pt-64">
        <div class="max-w-4xl w-full mx-auto space-y-4">
            <h2 class="text-3xl font-semibold">Qui sommes-nous ?</h2>
            <p class="text-gray-500">
                ZeBatucA est un groupe de percussions et de tambours
                d’intervention
            </p>
        </div>
        <div
            class="max-w-6xl flex-col md:flex-row gap-14 flex w-full mx-auto mt-8"
        >
            <figure
                class="shrink-0 aspect-[4/3] max-w-xl w-full bg-orange-200 p-1 md:p-2.5 rounded-md"
            >
                <img
                    class="rounded-sm w-full h-full object-cover"
                    src="https://www.fillmurray.com/575/430"
                    alt=""
                />
            </figure>
            <div class="leading-relaxed space-y-2.5 text-gray-900">
                <p>
                    Vous organisez un événement de rue et vous voulez du soleil
                    ?
                </p>
                <p>
                    Nous sommes ce qu'il vous faut.Nous? Zebatuca, une vingtaine
                    de musiciens originaires du Valenciennois et de la Wallonie
                    picarde Nous? C'est à un défilé de notes et de couleurs que
                    nous vous invitons.Aux sons de nos percus, les visages
                    s'illuminent et les corps se trémoussent.
                </p>
                <p>
                    A la vue de nos costumes, les rues s'habillent de fête et
                    perdent un peu la tête.Musiques afro-brésiliennes, succès
                    actuels ou compositions énergiques et trépidantes,
                    attention, vous ne regarderez pas la fête, vous la serez!
                </p>
                <p>
                    Sous la direction d'Elliot Amah, Zebatuca, c'est de la
                    musique chorégraphiée, des arts de la rue sens
                    dessus-dessous, des distributeurs de bonheur...
                </p>
                <p>On vous aura prévenus..</p>
            </div>
        </div>
    </div>
</div>
