---
import { config } from "../config";
import Markdown from "@astrojs/markdown-component";
const index = await fetch(config.api + "/api/page-d-accueil?populate=%2A");
const { data } = await index.json();
---

<div id="a-propos" class="p-4 w-screen mb-16 md:mb-32">
  <div class="bg-afro w-full pt-16 md:pt-64">
    <div class="max-w-4xl w-full mx-auto space-y-4">
      <h2 class="text-3xl font-semibold">
        {data.attributes.aboutTitle}
      </h2>
      <p class="text-gray-500">
        {data.attributes.aboutSubtitle}
      </p>
    </div>
    <div class="max-w-6xl flex-col lg:flex-row gap-14 flex w-full mx-auto mt-8">
      <figure
        class="shrink-0 aspect-[4/3] max-w-xl w-full bg-orange-200 p-1 md:p-2.5 rounded-md"
      >
        <img
          class="rounded-sm w-full h-full object-cover"
          src={config.api + data.attributes.aboutPicture.data.attributes.url}
          alt=""
        />
      </figure>
      <div class="leading-relaxed space-y-2.5 text-gray-900">
        <Markdown>
          {data.attributes.aboutText}
        </Markdown>
      </div>
    </div>
  </div>
</div>
