<section class="mt-8 px-4 md:px-0">
    <div class="max-w-4xl w-full mx-auto space-y-4">
        <h2 class="text-3xl font-semibold">Quelques souvenirs</h2>
        <p class="text-gray-500">
            Venez vivre avec nous ces moments magiques !
        </p>
    </div>
</section>
