---
import { config } from "../config";
import Button from "./Button.astro";
import Logo from "../assets/logo-zebatuca.svg";
const index = await fetch(config.api + "/api/page-d-accueil?populate=%2A");
const { data } = await index.json();
---

<section class="relative flex flex-col md:flex-row justify-center">
  <figure class="w-full h-[607px]">
    <img
      class="w-full h-full object-cover"
      src={config.api + data.attributes.Hero.data.attributes.url}
      alt=""
    />
  </figure>
  <div
    class="max-w-5xl -bottom-32 rounded-md md:shadow-lg space-y-5 md:absolute w-full mx-auto p-4 md:p-10 bg-white z-10"
  >
    <figure class="max-w-sm mx-auto">
      <img class="w-full" src={Logo} alt="ZeBatucA" />
    </figure>
    <p class="text-xl font-bold md:text-center">
      {data.attributes.subtitle}
    </p>
    <p class="max-w-3xl w-full mx-auto text-lg">
      {data.attributes.description}
    </p>
    <div class="flex flex-col md:flex-row md:justify-center gap-5">
      <Button href="/contact">Nous contacter</Button>
      <a
        class="bg-white text-center text-orange-600 hover:text-gray-500 rounded-md hover:bg-orange-200 transition px-7 py-4"
        href="#nos-evenements"
      >
        Nos évènements
      </a>
    </div>
  </div>
</section>
