<section class="mt-8 px-4 md:px-0">
    <div class="max-w-4xl w-full mx-auto space-y-4">
        <h2 class="text-3xl font-semibold">Nos plus beaux moments</h2>
        <p class="text-gray-500">
            Venez nous voir et partager avec nous la joie de danser sur des
            rythmes percutants
        </p>
    </div>
    <div class="max-w-4xl w-full mx-auto mt-16">
        <slide-show loop controls="navigation pagination">
            <div class="flex justify-center">
                <p class="aspect-video h-64 bg-red-500">video 1</p>
            </div>
            <div class="flex justify-center">
                <p class="aspect-video h-64 bg-red-500">video 2</p>
            </div>
        </slide-show>
    </div>
</section>
